{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="col s6 green lighten-4 green-text z-depth-3" style="margin-top:15px">
    <p><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
</div>
{% endblock fos_user_content %}
